/*

CSS for body header / (user and large avatar)

*/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 100%;
  margin-top: 140px;
  color: rgb(0, 0, 0);

  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #635D40;
  opacity: .8;
  background-image: url("https://www.transparenttextures.com/patterns/gun-metal.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */ 
}

.h2 {
  font-weight: bold;
  font-size: 26pt;
}

.h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 18pt;
}

.redView {
  color: rgba(255, 0, 0, 0.715);
}

@media only screen and (min-width: 1024px) {
  header {
    margin-top: 20px;
    max-width: 33%;
    margin-left: 20px;
    border-radius: 10px;
    border: 2px solid var(--headerbordercolor);
  }
}