/*

CSS for tweets-container

*/

#tweets-container {
  display:flex;
  width: 90%;
  margin-top: 140px;
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
}

.tweets-header {
  display:flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;
  color: #545149c3;
}

.tweets-layout {
  display:flex;
  flex-direction: column;
  width: 100%;
  background-color:#e7cda2;
  font-family: sans-serif;
  border-style: groove;
  align-items: center;
  border-radius: 5px;
  border: 2px solid teal;
  padding: 20px;
}
.tweets-layout:hover {
  box-shadow: 5px 5px rgba(0, 128, 128, 0.511);
}

.tweets-message {
  display:flex;
  flex-direction: column;
  width: 95%;

  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  overflow: auto;
}

.message-list {
  text-align: left;
  width:95%;
  height: 280px;
  padding-top: 5px;
  justify-content: flex-start;
}

.tweets-footer {
  display: flex;
  border-style: solid none none none;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6em;
  margin-top: 5px;
  padding-top: 5px;
}
