/*

CSS for tweets-container

*/

#messages-container {
  display:flex;
  width: 90%;
  margin-top: 140px;
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
}

.messages-header {
  display:flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;
  color: #545149c3;
}

.messages-layout {
  display:flex;
  flex-direction: column;
  width: 100%;
  background-color:#A3A184;
  font-family: sans-serif;
  border-style: groove;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #50543D;
  padding: 20px;
}
.messages-layout:hover {
  box-shadow: 5px 5px #635D40;
}

.messages-message {
  display:flex;
  flex-direction: column;
  width: 95%;

  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  overflow: auto;
}
.messages-message::-webkit-scrollbar {
  width: 12px;
}

.messages-message::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.messages-message::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.message-list {
  text-align: left;
  width:95%;
  height: 280px;
  padding-top: 5px;
  justify-content: flex-start;
}

.nessages-footer {
  display: flex;
  border-style: solid none none none;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6em;
  margin-top: 5px;
  padding-top: 5px;
}
