/*

  CSS for new tweets area

*/

.new-tweet {
  display:flex;
  flex-direction: column;
  width: 90%;
  font-family: sans-serif;
}

#new-tweet-form {
  display: flex;
  flex-direction: column;
}


#newtweet-text {
  border: hidden;
  border-bottom: 3px solid black;
  margin-bottom: 5px;  
}

.newtweet-textarea {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 5px solid #545149;
  border-style: none none solid ;
  border-radius: 5px;
  background-color: #f3b860c9;
  font-size: 16px;
  resize: none;
}

.newtweet-label {
  display:flex;
  flex-direction: row;
  align-items: left;
}

.newtweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', sans-serif;
  font-size: 24px;
  margin-top: 5px; 
}

#submit {  
  background-color: rgb(236, 162, 42);
  color: black;
  font-family: 'Bungee', cursive;
}

#submit:hover {  
  background-color: #FD5901;
}

.toomanychars {
  color: red
}